name: Build

on: [push, pull_request]

jobs:
  carthage:
    runs-on: macos-10.15

    steps:
    - name: Checkout
      uses: actions/checkout@v2
    
    - name: Build
      run: xcodebuild build -project WaveSlider.xcodeproj | xcpretty && exit ${PIPESTATUS[0]}