name: Build

on: push

jobs:
  build:
    runs-on: macos-10.15

    steps:
    - name: Checkout
      uses: actions/checkout@v2
    
    - name: Build
      run: xcodebuild build -project WaveSlider.xcodeproj | xcpretty && exit ${PIPESTATUS[0]}
